#data {
	div {
		float: left;
		font-family: $MONO;
		font-size: 10pt;
		margin-top: 20px;
		width: 230px;
		h3 {
			font-family: $MONO;
			font-weight: $BOLD;
			padding-bottom: 10px;
		}
		p {
			padding-bottom: 0px;
		}
	}
}

#spectrogram {
	display: block;
}

#sound_preview {
	audio {
		width: 100%;
	}
}

.message_success {
	color: #00ff80;
	font-weight: $MEDIUM;
}