@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700';

$MONO: 'Roboto Mono', monospace;
//$SANS: 'Input Sans Regular', sans-serif;
//$SERIF: 'Input Serif Regular', serif;

$THIN: 300;
$REGULAR: 400;
$MEDIUM: 500;
$BOLD: 700;
