{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>signalin | sound {{ sound.name }}</title>
		<link href="{% static "styles/style.css" %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<header>
			<h1>sound | {{ sound.name }}</h1>
			<section>
				<h2>id | {{ sound.id }}</h2>
			</section>
		</header>
		<main>
			<div id="sound_preview">
				<img id="spectrogram" src="{{ spectrogram_image }}" alt="spectrogram"/>
				<audio controls>
					<source src="{{ sound_preview }}" type="audio/mpeg">
					Your browser does not support the <code>audio</code> element.
				</audio>
			</div>
			<section id="data">
				<div>
					<h3>file data</h3>
					<p>date: {{ sound.date }}</p>
					<p>time: {{ sound.time }}</p>
					<p>collection: {{ sound.collection }}</p>
					<p>sensor: {{ sound.sensor }}</p>
					<form id="form_quality" method="post">
						{% csrf_token %}
						{{ quality_form }}
						<input type="submit" value="update" />
					</form>
					{% if quality_form_message %}
					<p class="message_success">{{ quality_form_message }}</p>
					{% endif %}
				</div>
				<div>
					<h3>site data</h3>
					<p>name: {{ sound.site.name }}</p>
					<p>id: {{ sound.site.id }}</p>
				</div>
				{% include "weather/weather.html" %}
				{% include "metrics/metrics.html" %}
			</section>	
		</main>
		<script src="{% static "scripts/script.js" %}"></script>
	</body>
</html>
